* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #f4f6f9;
}

/* Layout */
.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #1e293b;
    color: #fff;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 20px;
}

.sidebar a {
    display: block;
    padding: 12px;
    margin-bottom: 10px;
    color: #cbd5e1;
    text-decoration: none;
    border-radius: 6px;
}

.sidebar a:hover {
    background: #334155;
    color: #fff;
}

/* Main */
.main-content {
    flex: 1;
    padding: 30px;
}

/* Topbar */
.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.topbar h1 {
    font-size: 24px;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,.08);
    text-align: center;
}

.card h3 {
    font-size: 18px;
    color: #475569;
}

.card p {
    font-size: 32px;
    margin-top: 10px;
    font-weight: bold;
    color: #0f766e;
}

/* Logout */
.logout-btn {
    backgro

}

.add-new-box {
    margin: 20px 0;
    padding-left: 10px;
}

.add-new-btn {
    display: inline-block;
    color: #0000cc;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
}

.add-new-btn:hover {
    color: #cc0000;
}
